# Node modules
node_modules/

# Variables de entorno (IMPORTANTE: NO subir credenciales)
.env

# Archivos subidos por usuarios
public/uploads/*
!public/uploads/.gitkeep

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

#Vistas de Prueba
public\test-pwa.html
READMEDATA.MD
